/* universal selector */
*{
    margin: 0;
    padding: 0;
}
/* styling the first section */
#banner{
    background: url(main-pic.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text{
    text-align: center;
    color: #32a871;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{
    font-size: 20px;
    font-family: 'Staatliches', cursive;
}
/* styling the banner btn class */
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Audiowide', cursive;
    margin: 0 10px;
    padding: 12px 0;
    color: #32a871;
    border: .5px solid ;
    position: relative;
    z-index: 1;
    transition: color 1s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #cc4400; 
    z-index: -1;
    transition: 1s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #6632a8;
}
/* styling tyhe second section */

/* styling the id sidenav */
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 1s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 20px;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
/* adding media query for first section */
@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block; 
        margin: 20px auto;
    }
}
/* styling the third section */

/* styling the feature id */
#feature{
    width: 100%;
    padding: 70px 0;
    background-color: white;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 25px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Pirata One', cursive;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%; 
}
/* styling the h1 tag features class */
.features h1{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
    height: 30%;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features h1{
    text-align: left; 
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
/* styling the shield icon */
.features-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
.features-text{
    padding: 0 20px;
    text-align: initial;
}
/* styling the p tag under features text class */
.features-text p{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
/* adding media query for third section */
@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
    }
    .features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
    }
    .features-img img{
        width: 100%;
    }
}
/* styling the fourth section */

/* styling the class service */
#service{
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(#ffd89b,#19547b);
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
/* styling id element */
#id1{
    width: 600px;
    height: 400px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 40%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 14px; 
    padding-left: 50px;
    font-family: 'Black Ops One', cursive;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}
.service-desc h3{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 30px;
}
/* adding media query for fourth section */
@media screen and (max-width: 770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .service-desc h3{
        font-size: 20px;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
    }
}
/* styling the fifth section */

/* styling the id testimonial */
#testimonial{
    width: 100%;
    padding: 70px 0;
    background-color: white;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow:  0 10px 20px 3px #228B22;
    cursor: pointer;
    transition: transform 1s;
}
.testimonial-col p{
    font-size: 20px;
    font-family: 'Dancing Script', cursive; 
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info h4{
    font-family: 'Yellowtail', cursive;
}
.user-info small{
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
    color: #009688;
}
/* styling the icon */
.user-info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.testimonial-col:hover{
    transform: translateY(-7px);
}
/* adding media query for fifth section */
@media screen and (max-width: 770px){
    .testimonial-col{
        flex-basis: 100%;
    }
}
/* styling the sixth section */

/* styling id footer */
#footer{
    padding: 100px 0 20px;
    background: linear-gradient(#ffd89b,#19547b);
    position: relative;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
    font-family: 'Syne Tactile', cursive;
    font-size: 30px;
    color: #009688;
}
.footer-row p{
    line-height: 35px;
    font-family: 'Fruktur', cursive;
    font-size: 20px;
}
/* styling the icons in footer */
.footer-left .fa,.footer-right .fa{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}
/*.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}*/
/* styling the social links under footer section */
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: 1s;
}
.social-links .fa:hover{
    background: #009688;
    color: white;
    transform: translateY(-7px);
}
.social-links p{
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Creepster', cursive;
    color: #009688;
}
/* adding media query for sixth section */
@media screen and (max-width: 770px){
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
}