body{
    margin: 0;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #ebebeb;
}
a{
    color: white;
    text-decoration: none;
}
nav a{
   padding: 10px 25px;
   border-style: solid;
   border-width: 1px;
   margin-left: 20px;
}

.container{
    
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 150px;
}
.col{
    background-color: rgb(43, 226,147);
    width: 30%;
    margin-bottom: 40px;
}
.col p{
    
    font-size: 0.825rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}
.head-container{
    background-color: rgba(60, 60, 60);
    min-height: 100px;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
}
header{
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hide-desktop{
    display: none;
}
.col img{
    width: 100%;
    height: auto;
}
.col p::first-line{
    font-weight: bold;
}
.mob-wrapper{
    display: none;
}
@media(max-width:768px){
    .col{
        width: 45%;
    }
    .hide-desktop{
      display: none;
    }
    
    nav{
        display: none;
    }
    nav a{
        display: block;
        margin-left: 0px;
    }
    .logo{
       padding: 40px 0px;
    }
   
    .head-container{
        position: relative;
    }
    .container{
        padding-top: 40px;
    }
    .mob-wrapper{
        display: block;
        padding-right: 30px;
    }
    .mob-nav{
        display: none;
        position: absolute;
        padding-top: 10px;
    }
    .mob-nav a{
        display: block;
        background-color: coral;
        padding: 15px;
        margin-left: -50px;
        text-align: center;
        border-style: solid;
    }
 
    
}
@media(max-width:400px){
    .col{
        width: 100%;
    }
    .hide-mobile{
        display: none;
    }
   
    nav a{
        display: block;
        margin-left: 0px;
    }
    .logo{
       padding: 40px 0px;
    }
    .head-container{
        position: relative;
    }
    .container{
        padding-top: 40px;
    }
    
}
